<%- include('../partials/head') %>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    main {
        padding: 2rem;
    }

    header {
        margin-bottom: 2rem;
    }

    .center {
        max-width: 500px;
        margin: 0 auto;
        background-color: #fff;
        padding: 2rem 2.5rem;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .center h1 {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        color: #333;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .input {
        font-size: 1rem;
        padding: 0.75rem;
        margin: 0 auto 1rem ;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical;
        display: block;
        width: 80%;
    }

    .input:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    }

    textarea.input {
        min-height: 100px;
    }

    .btn {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 0.75rem;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        text-transform: uppercase;
        display: block;
        width: 30%;
        margin: auto;
    }

    .btn:hover {
        background-color: #0056b3;
    }
</style>
</head>

<body>
    <main>
        <header>
            <%- include('../partials/nav', { isLoggedIn: isLoggedIn }) %>
        </header>

        <div class="center">
            <h1>Create Product</h1>

            <form action="/admin/add-product" method="post">
                <input type="text" name="title" placeholder="Name" class="input" required /> 
                <input type="number" name="price" placeholder="Price" class="input" min="0" step="0.01" required />
                <textarea name="description" placeholder="Description" class="input" required></textarea>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button class="btn" type="submit">Create</button>
            </form>
        </div>
    </main>
<%- include('../partials/end') %>
